*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #e4f9f5; 
    margin: 0 auto;
    padding: 20px;
}
.profile{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius:50%;
    float: left;
    
}
h1,h2,h3,h4,h5{
    color: #11999e;;
}
/* <!-- bio section start --> */
.bio{
    float: left;
    padding: 30px;
}
/* <!-- bio section end --> */

.contact{
    float: right;
    padding: 30px;
}
.contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    width: 100%;
    border: 3px solid black;
    border-bottom: none;
    margin:20px auto;
}

/* *
personal information */

#personal{

}
.content{
    margin-bottom: 30px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.simple-hr{
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}


}
 h5{
    margin-top: 3px;
}
h3{
    margin-top: 10px; */
}
.edu-left{
    width: 45%;
    float: left;
}
.edu-right{
    width: 45%;
    float: right;
}
.ref-left{
    width: 35%;
    float: left;
}
.ref-right{
    width: 35%;
    float: right;
}
.copyright{
   background-color: black;
   text-align: center;
   padding: 10px;
   
    
}
.copyright a{
    text-decoration: none;
    color: white;
    margin: 20px;
}
.copyright p{
    color: white;
    margin-top: 20px;
}
.copyright a:hover{
    text-decoration: underline;
    color: tomato;
    
}